.defince-partners {
  &__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 20px;
  }

  margin-bottom: 20px;
}