.favourites-tokens {
  margin-bottom: 20px;

  &__list {
    max-height: 350px;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 30px;
  }
}